[Desktop Entry]
Version=1.0
Name=Love Creation Max
GenericName=Demo
Comment=Love Creation Max - Demo ranked 1st at The Party 2000
Type=Application
Exec=/usr/bin/win32-lovecreationmax-by-inf
Icon=win32-lovecreationmax-by-inf
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Love Creation Max
