Source: aestheticdistance-by-youthuprising
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 libglu-dev,
 libsdl1.2-compat-dev|libsdl1.2-dev,
 libfmodex-dev,
 libpng12-0
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=34513
Rules-Requires-Root: no

Package: aestheticdistance-by-youthuprising
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsdl1.2-compat,
 libfmodex4 (>=4.10.03),
 common-install-function-ddebs(>=1.18),
 aestheticdistance-by-youthuprising-data
Description: Demo for Linux, released in 2007
 Demo by Youth Uprising, released in 2007
 Aesthetic Distance - A demo by Youth Uprising.
 Produced November through December 2007.
 Released at the Ultimate Meeting '07.

Package: aestheticdistance-by-youthuprising-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for aestheticdistance-by-youthuprising
 Demo by Youth Uprising, released in 2007, data files
