#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifeq "$(DEB_HOST_MULTIARCH)" "x86_64-linux-gnu"
    export DEB_CFLAGS_MAINT_APPEND  = -march=core2
endif

%:
	dh $@ --parallel

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/chrysler-by-fitandbandwagon.6.md -o debian/chrysler-by-fitandbandwagon.6
