Source: valleyball-by-bluflame
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev,
 libglew1.5
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=52946

Package: valleyball-by-bluflame
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 libglew1.5
Description: Demo for Linux, released in 2009
 Demo by BluFlame, released in 2009
