#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_install:
	dh_install
	docbook-to-man  debian/mp3gain.sgml > debian/mp3gain.1

override_dh_builddeb:
	dh_builddeb -- -Zxz
