Source: demosceneactivist-by-nuance
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://nuance.untergrund.net/

Package: demosceneactivist-by-nuance
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Win32 Demo released in 2005
 demo ranked 6th at Breakpoint 2005
 .
 -windows program launched using PlayOnLinux
