Source: vip-by-popsyteam
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.popsyteam.org/vip/

Package: vip-by-popsyteam
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: DOS Demo released in 1999
 Invit demo ranked 2nd at the Arf!Party 1999
 .
 -MS-DOS program launched using Dosbox-x
