Source: leveltwo-by-peon-win32
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.7.3
Homepage: https://www.pouet.net/prod.php?which=1113
Rules-Requires-Root: no

Package: leveltwo-by-peon-win32
Architecture: all
Replaces: win32-leveltwo-by-peon
Breaks: win32-leveltwo-by-peon
Depends:
 wine,
 common-install-function-ddebs(>=1.76),
 bassdll08a-win32,
 ${misc:Depends}
Description: Windows Demo released in 2000
 Demo ranked 8th at Demobit 2000
 .
 -windows program launched using PlayOnLinux
