Source: imagine-by-dizzlogic
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=956

Package: imagine-by-dizzlogic
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Windows Demo released in 2000
 demo ranked #11 at Dreamhack 2000
 .
 -windows program launched using PlayOnLinux
