#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifeq "$(DEB_HOST_MULTIARCH)" "x86_64-linux-gnu"
    export DEB_CXXFLAGS_MAINT_APPEND  = -march=core2
endif

CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

%:
	dh $@  --parallel --buildsystem=cmake  --builddirectory=build --sourcedirectory=cmake -- -CMAKE_SKIP_RPATH
