Source: lightningroadtoliquidradiator-by-theundeadsceners
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=61355
Rules-Requires-Root: no

Package: lightningroadtoliquidradiator-by-theundeadsceners
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libasound2,
 libstdc++6,
 libx11-6,
 libxext6,
 xz-utils,
 common-install-function-ddebs(>=1.18)
Description: Intro for Linux, released in 2013
 Intro by The Undead Sceners, released in 2013
