Source: win32-sts04instantzen-by-synesthetics
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=18359

Package: win32-sts04instantzen-by-synesthetics
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.71),
 win32-fmoddll375,
 ${misc:Depends}
Description: Win32 Demo released in 2005
 demo ranked 2nd at Assembly 2005
 .
 -windows program launched using PlayOnLinux
