Source: derivations-by-zipola
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 pkgconf,
 libsdl2-dev
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=56200

Package: derivations-by-zipola
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: 4k intro for Linux, released in 2010
 4k intro by zipola, released in 2010
 Derivations
 ***********
 .
 by zipola (Tuomo Sipola)
 .
 Linux
 C code compiled with gcc
 uses SDL and SDL_opengl
 4k
 .
 Made for Instanssi I/2010
