Source: fonts-911porscha
Section: fonts
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.iconian.com
Rules-Requires-Root: no

Package: fonts-911porscha
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: 911porscha free fontypee fonts
 Fonts designed by Dan Zadorozny

