[Desktop Entry]
Version=1.0
Name=lapsus
GenericName=Demo
Comment=lapsus - Demo ranked 3rd at Assembly 2000
Type=Application
Exec=/usr/bin/win32-lapsus-by-maturefunk
Icon=win32-lapsus-by-maturefunk
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=lapsus
