Source: eternal-by-flyinpig
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=6467

Package: eternal-by-flyinpig
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Windows Demo released in 2000
 Demo ranked 3rd at Abort 2000
 .
 -windows program launched using PlayOnLinux
