Source: caillou-by-mandarine-win32
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.7.3
Homepage: https://mandarine.planet-d.net/#Productions
Rules-Requires-Root: no

Package: caillou-by-mandarine-win32
Architecture: all
Replaces: win32-caillou-by-mandarine
Breaks: win32-caillou-by-mandarine
Depends:
 wine,
 d7vk-win32,
 common-install-function-ddebs(>=1.76),
 bassdll08a-win32,
 ${misc:Depends}
Description: Win32 Demo released in 2000
 demo ranked 7th at lucky and Tigrou Party 2000
 .
 -windows program launched using wine and d7vk
