Source: amiga-whdloadharddisk
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.0.1
Homepage: https://en.wikipedia.org/wiki/Whdload

Package: amiga-whdloadharddisk
Architecture: all
Depends: ${misc:Depends}
Description: WHDLoad hard disk for Amiga emulation
 WHDLoad hard disk, that boot for Amiga emulation
