Source: 303-by-acme
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=44

Package: 303-by-acme
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs (>=1.0),
 ${misc:Depends}
Description: Demo : 303 by Acme
 demo ranked 1st at X 1997
 .
 -MS-DOS program launched using Dosbox
