Source: engagethefresse-by-stroboholics
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libglu1-mesa-dev,
 libsdl1.2-compat-dev|libsdl1.2-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=55742

Package: engagethefresse-by-stroboholics
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsdl1.2-compat,
 common-install-function-ddebs(>=1.18),
 libbass2,
 engagethefresse-by-stroboholics-data
Description: Demo for Linux, released in 2010
 Demo by stroboholics, released in 2010

Package: engagethefresse-by-stroboholics-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for engagethefresse-by-stroboholics
 engagethefresse-by-stroboholics data files
