[Desktop Entry]
Version=1.0
Name= Deus Ex: Mankind Divided Cracktro
GenericName=Demo
Comment=Demo by Razor 1911, released in 2016
Type=Application
Exec=/usr/bin/deusexmankinddividedcracktro-by-razor1911
Icon=deusexmankinddividedcracktro-by-razor1911
Categories=AudioVideo;
Name[fr_FR]= Deus Ex: Mankind Divided Cracktro
