Source: funzyto770
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libx11-dev,
 pkg-config
Standards-Version: 4.6.0.1
Homepage: https://www.sylvain-huet.com/hacks/

Package: funzyto770
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: TO7 and TO7-70 emulator
 TO7 and TO7-70 are French computers
