[Desktop Entry]
Version=1.0
Name=4getful
GenericName=Demo
Comment=Demo by gwEm,released in 2006
Type=Application
Exec=/usr/bin/4getful-by-gwem-atari
Icon=4getful-by-gwem-atari
Categories=AudioVideo;Game;
Name[fr_FR]=4getful
