Source: win32-persistent-by-wipeandukonx
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=476
Rules-Requires-Root: no

Package: win32-persistent-by-wipeandukonx
Architecture: all
Depends:
 wine,
 common-install-function-ddebs(>=1.76),
 win32-bassdll08a,
 ${misc:Depends}
Description: Win32 Demo released in 2000
 Demo ranked 1st at aRTS 2000
 .
 -windows program launched using PlayOnLinux
