Source: daydream-by-hedelmae
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=51131

Package: daydream-by-hedelmae
Architecture: i386
Depends:
 daydream-by-hedelmae-data,
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18)
Description: Demo for Linux, released in 2008
 Demo by Hedelmae, released in 2008

Package: daydream-by-hedelmae-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for daydream-by-hedelmae
 daydream-by-hedelmae data files

