[Desktop Entry]
Version=1.0
Name=FREKTAALI
GenericName=Demo
Comment=intro ranked 5th at Assembly 2000
Type=Application
Exec=/usr/bin/win32-frektaali-by-taat
Icon=win32-frektaali-by-taat
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=FREKTAALI
