[Desktop Entry]
Version=1.0
Name=LEGO Basics
GenericName=Demo
Comment=LEGO Basics - Demo ranked 2nd at The Party 2000
Type=Application
Exec=/usr/bin/win32-legobasic-by-hybrisnemesis
Icon=win32-legobasic-by-hybrisnemesis
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=LEGO Basics
