Source: unlzx
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://xavprods.free.fr/lzx/
Rules-Requires-Root: no

Package: unlzx
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Unarchiver for Amiga LZX archives
 LZX is the name of an LZ77 family compression algorithm
 popular on the Amiga family computer
 unlzx uncompress those archive
