#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifneq "$(DEB_HOST_MULTIARCH)" "m68k-linux-gnu" 
	export DEB_CFLAGS_MAINT_APPEND  = -flto
	export DEB_LDFLAGS_MAINT_APPEND  = -flto
endif

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
