Source: falco-by-cryogen
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=1771
Rules-Requires-Root: no

Package: falco-by-cryogen
Architecture: all
Depends: dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: DOS Intro released in 2000
 Intro ranked 9th at Mekka & Symposium 2000
 .
 -MS-DOS program launched using Dosbox-x
