Source: quest-by-iris
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 zip
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=2888

Package: quest-by-iris
Architecture: all
Depends:
 fs-uae,
 amiga-kickstartaros,
 amiga-whdloadharddisk,
 common-install-function-ddebs(>=1.66),
 ${misc:Depends}
Description: Amiga Demo released in 1999
 Demo ranked 5th at Mekka and Symposium 1999
 .
 -Amiga program launched using fs-uae
 -Kickstart *NOT* needed
