Source: cursesdemo-by-dc5
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 libncurses5-dev
Standards-Version: 4.5.0
Homepage: http://www.pouet.net/prod.php?which=10644

Package: cursesdemo-by-dc5
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: demo ranked 3rd at Pilgrimage 2003
 little ncurse demo ranked 3rd
