Source: tungsram-by-haujobb
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=2115

Package: tungsram-by-haujobb
Architecture: all
Depends: dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: DOS Intro released in 1998
 Intro ranked 1st by Haujobb
 .
 -MS-DOS program launched using Dosbox-x
