[Desktop Entry]
Version=1.0
Name=Juice
GenericName=Demo
Comment=Juice - demo ranked 2nd at Assembly 1995
Type=Application
Exec=/usr/bin/juice-by-psychiclink
Icon=juice-by-psychiclink
Categories=AudioVideo;Emulator;
Name[fr_FR]=Juice
