#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_strip:

override_dh_auto_configure:
	dh_auto_configure
	(cd debian; \
		for i in *.in; do\
		o=`basename $$i .in`;\
		sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' "$$i" > "$$o"; \
		done )

override_dh_install:
		dh_install
		(find debian/libbass2 -type f -execdir rename 's/libbass.so/libbass.so.2.4.14/g' * {} \;)
