[Desktop Entry]
Version=1.0
Name=Secret Rooms
GenericName=Demo
Comment=Demo by Mikael Fyrek and Philip Lafleur, released in 2014
Type=Application
Exec=/usr/bin/secretrooms-by-mikaelfyrekandphiliplafleur
Icon=secretrooms-by-mikaelfyrekandphiliplafleur
Categories=AudioVideo;
Name[fr_FR]=Secret Rooms
