[Desktop Entry]
Version=1.0
Name=Vanillebaum
GenericName=Demo
Comment=Vanillebaum - Demo ranked 18th at Mekka and Symposium 2000
Type=Application
Exec=/usr/bin/vanillebaum-by-xsolution
Icon=vanillebaum-by-xsolution
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Vanillebaum
