Source: solex-by-oxygene
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=3036

Package: solex-by-oxygene
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Demo : solex by Oxygene
 demo released in may 1996
 .
 -MS-DOS program launched using Dosbox-x
