Source: win32-blue-by-fourbytealiens
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=12310

Package: win32-blue-by-fourbytealiens
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Win32 Demo released in 2004
 demo ranked 1st at krangparty 2004
 .
 -windows program launched using PlayOnLinux
