Source: glib-1.2
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends: debhelper-compat (= 10)
Standards-Version: 4.6.2
Section: libs
Homepage: https://www.gtk.org/
Rules-Requires-Root: no

Package: libglib1.2ldbl
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libglib1.2
Replaces: libglib1.2
Description: GLib library of C routines
 GLib is a library containing many useful C routines for things such as trees,
 hashes, and lists. GLib was previously distributed with the GTK+ toolkit, but
 has been split off as of version 1.1.0.

Package: libglib1.2-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libglib1.2ldbl (= ${binary:Version}), pkgconf
Provides: libglib-dev
Description: GLib library of C routines (development)
 GLib is a library containing many useful C routines for things such as trees,
 hashes, and lists. GLib was previously distributed with the GTK+ toolkit, but
 has been split off as of version 1.1.0.
 .
 This package contains the development files.
