Source: newyear2-by-outbreak
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev,
 libstdc++5,
 libpng12-0,
 libjpeg62-turbo-dev|libjpeg62-dev,
 libfmod-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=15123

Package: newyear2-by-outbreak
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libfmod3 (>=3.73),
 newyear2-by-outbreak-data
Description: Linux Demo by Outbreak 2004
 Demo by Outbreak, released in 2004

Package: newyear2-by-outbreak-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for newyear2-by-outbreak
 newyear2-by-outbreak data files

