Source: sx7302-by-darkeden
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://demozoo.org/productions/52358/

Package: sx7302-by-darkeden
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Win32 Intro released in 2001
 intro ranked 3rd at Addict Anniversary 2001
 .
 -windows program launched using PlayOnLinux
