#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/yellowroseoftexas-by-fit.6.md -o debian/yellowroseoftexas-by-fit.6
