Source: enhaluaisiolla-by-damage-win32
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.7.3
Homepage: https://www.pouet.net/prod.php?which=588
Rules-Requires-Root: no

Package: enhaluaisiolla-by-damage-win32
Architecture: all
Replaces: win32-enhaluaisiolla-by-damage
Breaks: win32-enhaluaisiolla-by-damage
Depends:
 wine,
 common-install-function-ddebs(>=1.76),
 bassdll08a-win32,
 ${misc:Depends}
Description: Windows Demo released in 2000
 demo ranked 6th at Assembly 2000
 .
 -windows program launched using PlayOnLinux
