#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -flto
export DEB_LDFLAGS_MAINT_APPEND  = -Wl,--allow-multiple-definition -flto

%:
	dh $@

override_dh_auto_install:
	7za a -mmt -mx=9 data.zip -w ./sounds
	dh_auto_install
