[Desktop Entry]
Version=1.0
Name=gerbera
GenericName=Demo
Comment=gerbera - Demo ranked 2nd at Assembly 2001
Type=Application
Exec=/usr/bin/win32-gerbera-by-moppiproductions
Icon=win32-gerbera-by-moppiproductions
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=gerbera
