Source: antagonism-by-cyberneticgenetics
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libgl-dev,
 libxrandr-dev,
 libvorbis-dev,
 libasound2-dev,
 libpng-dev,
 libgtk-3-dev,
 pkgconf
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=60799

Package: antagonism-by-cyberneticgenetics
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 antagonism-by-cyberneticgenetics-data
Description: Demo for Linux, released in 2012
 Demo by Cybernetic Genetics, released in 2012

Package: antagonism-by-cyberneticgenetics-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for antagonism-by-cyberneticgenetics
 antagonism-by-cyberneticgenetics data files
