Source: professionalmagickwrestler-by-gzrrplox
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 libglu-dev,
 libsdl-mixer1.2-dev,
 libsdl1.2-compat-dev
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=57011
Rules-Requires-Root: no

Package: professionalmagickwrestler-by-gzrrplox
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsdl1.2-compat,
 common-install-function-ddebs(>=1.18),
 professionalmagickwrestler-by-gzrrplox-data
Description: Demo for Linux, released in 2011
 Demo by Gzrrplox, released in 2011

Package: professionalmagickwrestler-by-gzrrplox-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for professionalmagickwrestler-by-gzrrplox
 professionalmagickwrestler-by-gzrrplox data files
