#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_HOST_MULTIARCH

%:
	dh $@

override_dh_strip:

override_dh_install:
		dh_install
		(find debian/libfmod3 -type f -execdir rename 's/libfmod-3.75.so/libfmod.so.3.75/g' * {} \;)

