#!/usr/bin/make -f

export DEB_CFLAGS_MAINT_APPEND  = -flto
MESON_OPTS = -Dstaticdeps=false

%:
	dh $@ --buildsystem=meson

override_dh_auto_build:
	dh_auto_build -Bbuild -Dsrc

override_dh_auto_configure:
	dh_auto_configure -Bbuild -Dsrc -- $(MESON_OPTS)
	(cd debian/scripts; \
	  for i in *.in; do\
	  o=`basename $$i .in`;\
	  sed -e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' "$$i" > "$$o"; \
	  done )
	
override_dh_auto_clean-arch:
override_dh_auto_test:
override_dh_auto_install:
