[Desktop Entry]
Version=1.0
Name=nowhere
GenericName=Demo
Comment=nowhere - Demo ranked 2nd at Takeover 2000
Type=Application
Exec=/usr/bin/nowhere-by-threestate
Icon=nowhere-by-threestate
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=nowhere
