Source: alieninvasion-by-nectarine
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev,
 libvorbis-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=56430

Package: alieninvasion-by-nectarine
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 alieninvasion-by-nectarine-data
Description: Demo for Linux, released in 2010
 Demo by Nectarine, released in 2010

Package: alieninvasion-by-nectarine-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for alieninvasion-by-nectarine
 alieninvasion-by-nectarine data files
