Source: halvdemo-by-kakmonsterklubben
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev,
 libsdl-mixer1.2-dev,
 libstdc++5
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=14700

Package: halvdemo-by-kakmonsterklubben
Architecture: i386
Depends:
 common-install-function-ddebs(>=1.18),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Intro by kakmonsterklubben released in 2004
 kakmonsterklubben intro, released in 2004
