[Desktop Entry]
Version=1.0
Name=Smegma in Your Eyes
GenericName=Demo
Comment=Demo by Tufs, released in 2004
Type=Application
Exec=/usr/bin/smegmainyoureyes-by-tufs
Icon=smegmainyoureyes-by-tufs
Categories=AudioVideo;Game;
Name[fr_FR]=Smegma in Your Eyes
