[Desktop Entry]
Version=1.0
Name=Manual Override
GenericName=Demo
Comment=demo ranked 6th at The Gathering 1995
Type=Application
Exec=/usr/bin/manualoverride-by-subacid
Icon=manualoverride-by-subacid
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Manual Override
