Source: drfungi-by-fit
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 mesa-common-dev,
 libsdl2-dev,
 libjpeg-dev,
 pkg-config
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=8966

Package: drfungi-by-fit
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 drfungi-by-fit-data
Description: mac demo ranked 1st at iQuest 2002
 mac demo, that can also be compiled for Llinux

Package: drfungi-by-fit-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: data files for Linux demo ranked 1st at iQuest 2002
 data file for mac demo, that can also be compiled for Linux
