#!/usr/bin/make -f

# dh_dwz on buster don't like when there is no .debug_info section
ifneq ($(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release),buster)
    RUN_DHDWZ=dh_dwz 
endif

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -XlibGLEW.so.1.5 -- --ignore-missing-info

override_dh_fixperms:
	dh_fixperms
	find debian -type f -name 'resources.7z' -exec chmod -x {} +

override_dh_dwz:
	$(RUN_DHDWZ)
