Source: crudecuedcubes-by-jimbo00000
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=70392
Rules-Requires-Root: no
Vcs-Browser: https://bitbucket.org/jimbo00000/crude-cued-cubes
Vcs-Git: https://bitbucket.org/jimbo00000/crude-cued-cubes.git

Package: crudecuedcubes-by-jimbo00000
Architecture: all
Depends:
 luajit,
 lua-socket,
 libbass2,
 libglfw3,
 ${misc:Depends},
 common-install-function-ddebs(>=1.61)
Description: Demo by jimbo00000, released in 2017
 Demo by jimbo00000 1st combined demo, at @party 2017
