Source: heartburn-by-thetourist
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 nasm,
 libgl-dev,
 libsdl2-dev,
 pkgconf
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=61809
Rules-Requires-Root: no

Package: heartburn-by-thetourist
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: 4k intro for Linux, released in 2013
 4k intro by The Tourist, released in 2013
 Heartburn by TheT(ourist) - A PC 4k intro for Demodays 2013
 .
 "Almost as good as a bad WinAmp plugin!"
 .
 OpenGL4.0, Windows / Linux
 .
 Tools:
 - Clinkster (soft synth)
 - Crinkler (for the Windows version)
