Source: raytro-by-wamma
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 elfkickers,
 p7zip-full,
 libsdl1.2-dev
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=49797

Package: raytro-by-wamma
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18)
Description: 4k intro for GNU/Linux by glaze/wAMMA, released @ Pouet.net 2008-02-27
 This is the first released 4k intro of wamma. He says he don't like C,
 especially when coding 3D stuff, but C++ is too bloaty and asm is non-portable.
 He didn't use music in this intro, because he's more interested to
 discover how much graphics code he can get into 4k.
 .
 He also tried to compile a win32 version using i586-mingw32msvc-gcc that
 came with Kubuntu (it uses gcc 3.4.5). There was missing/weird graphics
 in some places, so he didn't include a win32 build.
