Source: explicit-by-hornet-otm
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=2500

Package: explicit-by-hornet-otm
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Demo : Explicit by Hornet & OTM
 Demo Ranked 3rd at NAID 1996
 .
 -MS-DOS program launched using Dosbox-x
