Source: soepkip9-by-kontvlokkenposse-win32
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.3
Homepage: https://www.pouet.net/prod.php?which=26403
Rules-Requires-Root: no

Package: soepkip9-by-kontvlokkenposse-win32
Architecture: all
Replaces: win32-soepkip9-by-kontvlokkenposse
Breaks: win32-soepkip9-by-kontvlokkenposse
Depends:
 wine,
 d7vk-win32,
 common-install-function-ddebs(>=1.76),
 ${misc:Depends}
Description: Win32 Demo released in 2000
 Demo ranked 1st at Fast Demo compo at Takeover 2000
 .
 -windows program launched using wine and d7vk
