#!/usr/bin/make -f

export DEB_CXXFLAGS_MAINT_APPEND  = -fno-lto
export DEB_LDFLAGS_MAINT_APPEND  = -fno-lto

export DEB_BUILD_MAINT_OPTIONS = hardening=all,-pie
export PKG_CONFIG_PATH=/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
