Source: xa005spike-by-xangle
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 libfltk1.3-dev,
 libxft-dev,
 libxcursor-dev,
 libfontconfig-dev,
 libxinerama-dev,
 libglu-dev,
 libsdl-mixer1.2-dev,
 libsdl1.2-compat-dev|libsdl1.2-dev,
 libgl-dev,
 libfmod-dev,
 pkgconf
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=17997
Rules-Requires-Root: no

Package: xa005spike-by-xangle
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsdl1.2-compat
Description: Demo for Linux, released in 2005
 Demo by xAngle, released in 2005
 Party release at "Backslash underground" 2005-07-09
 .
 This is a demo created by trejs and danter of xAngle. Music was composed
 yet again by algar of tjc^titan.
