[Desktop Entry]
Version=1.0
Name=Liquid... Wen ?
GenericName=Demo
Comment=demo ranked 1st at Assembly 2002
Type=Application
Exec=/usr/bin/liquidwen-by-haujobb-win32
Icon=liquidwen-by-haujobb-win32
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Liquid... Wen ?
