Source: magicbiniou-by-eclipse
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12)
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=209

Package: magicbiniou-by-eclipse
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: Demo : Magic Biniou by Eclipse
 Demo ranked 1st at volcanic 1996
 .
 -MS-DOS program launched using Dosbox-x
