Source: thenonstopibizaexperience-by-orange
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=129

Package: thenonstopibizaexperience-by-orange
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Demo/20xx/Win32
 Demo ranked 5th at Assembly 2000
 .
 -windows program launched using PlayOnLinux
