Source: away-by-genesis
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 zip
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=12276

Package: away-by-genesis
Architecture: all
Depends:
 fs-uae(>=2.8),
 amiga-whdloadharddisk,
 common-install-function-ddebs(>=1.6),
 ${misc:Depends}
Description: Amiga demo released in 1999
 Demo ranked 1st at Trip 1999
 .
 -Amiga program launched using fs-uae
 -Kickstart *NOT* needed
