Source: swampfly-by-faemiyah
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl2-dev,
 libglu1-mesa-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=53669
Vcs-Browser: https://github.com/faemiyah/faemiyah-demoscene_2009-08_4k-intro_swamp_fly
Vcs-Git: https://github.com/faemiyah/faemiyah-demoscene_2009-08_4k-intro_swamp_fly.git

Package: swampfly-by-faemiyah
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: 4k intro for Linux, released in 2009
 4k intro by Faemiyah, released in 2009
