Source: stochasticlenssimulatormkii-by-gzrrplox
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>=9),
 pandoc,
 mesa-common-dev,
 libsdl1.2-dev,
 libboost-dev,
 pkgconf
Standards-Version: 4.1.4
Homepage: https://www.pouet.net/prod.php?which=57004

Package: stochasticlenssimulatormkii-by-gzrrplox
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Demo for Linux, released in 2011
 Demo by Gzrrplox, released in 2011
