Source: vintageii-by-outbreak
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=50831
Rules-Requires-Root: no

Package: vintageii-by-outbreak
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 libglew1.5,
 libglu1,
 libpng12-0 (>= 1.2.13-4),
 libaudiere,
 libxrandr2,
 libjpeg62-turbo|libjpeg62,
 vintageii-by-outbreak-data
Description: Demo for Linux, released in 2008
 Demo by outbreak, released in 2008

Package: vintageii-by-outbreak-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for vintageii-by-outbreak
 vintageii-by-outbreak data files

