Source: win32-enlightthesurreal-by-noice
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=124

Package: win32-enlightthesurreal-by-noice
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.69),
 win32-bassdll08a,
 ${misc:Depends}
Description: Win32 Demo released in 2000
 Demo ranked 9th at Assembly 2000
 .
 -windows program launched using PlayOnLinux
