Source: claudia-by-deathstar
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=1604

Package: claudia-by-deathstar
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs (>=1.61),
 ${misc:Depends}
Description: Demo : Claudia by Deathstar
 Demo ranked 1st at Mekka & Symposium 1997
 .
 -MS-DOS program launched using Dosbox-x
