Source: win32-energia-by-sunflower
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=3290
Rules-Requires-Root: no

Package: win32-energia-by-sunflower
Architecture: all
Depends:
 wine,
 common-install-function-ddebs(>=1.76),
 win32-bassdll08a,
 ${misc:Depends}
Description: Win32 Demo released in 2001
 Demo ranked 6th at Assembly 2001
 .
 -windows program launched using PlayOnLinux
