Source: goldorak-by-realtime
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=3404

Package: goldorak-by-realtime
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs (>=1.0),
 ${misc:Depends}
Description: Demo : Goldorak by Realtime
 Demo rank 1st at somewhere in holland 1995
 .
 -MS-DOS program launched using Dosbox
