Source: win32-mikrostrange-by-haujobb
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=1092

Package: win32-mikrostrange-by-haujobb
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.71),
 win32-bassdll08a,
 win32-ijldll112,
 ${misc:Depends}
Description: Win32 Demo released in 2000
 demo ranked 2nd at Mekka and Symposium 2000
 .
 -windows program launched using PlayOnLinux
