Source: win32-ijldll112
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.un4seen.com/download.php?bass10
Rules-Requires-Root: no

Package: win32-ijldll112
Architecture: all
Depends:
 ${misc:Depends}
Description: Bass.dll v1.0 by Ian Luck, released in 2001
 Sound Library for win32 app, launched with Wine.
