Source: detectiteasy
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 qtbase5-dev,
 qtbase5-dev-tools,
 qt5-qmake,
 qttools5-dev-tools,
 qtscript5-dev,
 libqt5svg5-dev,
 libqwt-qt5-dev,
 libqt5opengl5-dev,
 libbz2-dev,
 zlib1g-dev,
 libssl-dev
Standards-Version: 4.6.2
Homepage: https://github.com/horsicq/DIE-engine
Rules-Requires-Root: no

Package: detectiteasy
Architecture: any
Depends:
 detectiteasy-data,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Detect It Easy(DiE) is a packer identifier
 Detect It Easy, or abbreviated “DIE” is a program for determining types of 
 files.
 “DIE” is a cross-platform application, apart from Windows version there are 
 also available versions for Linux and Mac OS.
 .
 Many programs of the kind (PEID, PE tools) allow to use third-party signatures.
 Unfortunately, those signatures scan only bytes by the pre-set mask, and it is
 not possible to specify additional parameters. As the result, false triggering
 often occur. More complicated algorithms are usually strictly set in the 
 program itself. Hence, to add a new complex detect one needs to recompile the 
 entire project. No one, except the authors themselves, can change the algorithm 
 of a detect. As time passes, such programs lose relevance without the constant 
 support.
 .
 Detect It Easy has totally open architecture of signatures. You can easily
 add your own algorithms of detects or modify those that already exist. This
 is achieved by using scripts. The script language is very similar to JavaScript
 and any person, who understands the basics of programming, will understand 
 easily how it works. Possibly, someone may decide the scripts are working very 
 slow. Indeed, scripts run slower than compiled code, but, thanks to the good 
 optimization of Script Engine, this doesn’t cause any special inconvenience.
 The possibilities of open architecture compensate these limitations.
 .
 DIE exists in three versions. Basic version (“DIE”), Lite version (“DIEL”) and
 console version (“DIEC”). All the three use the same signatures, which are
 located in the folder “db”. If you open this folder, nested sub-folders will be
 found (“Binary”, “PE” and others). The names of sub-folders correspond to the
 types of files. First, DIE determines the type of file, and then sequentially
 loads all the signatures, which lie in the corresponding folder. Currently the
 program defines the following types:

Package: detectiteasy-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for Detect It Easy
 Detect It Easy data files.
 contains signatures, infos and scripts
