#!/usr/bin/make -f

%:
	dh $@  --sourcedirectory=build
override_dh_auto_configure:
	dh_auto_configure
	(cd debian; \
	 for i in *.in; do\
	 o=`basename $$i .in`;\
	 sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' "$$i" > "$$o"; \
	 done )
