Source: enigma-by-phenomena
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 zip
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=394

Package: enigma-by-phenomena
Architecture: all
Depends:
 fs-uae(>=2.6),
 amiga-whdloadharddisk(>=1.10),
 amiga-kickstartaros,
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Amiga demo released in 1991
 Demo ranked 1s at Anarchy Easter Party 1991
 .
 -Amiga program launched using fs-uae
 -Kickstart *NOT* needed
