Source: anataus7
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libx11-dev,
 libxext-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=992

Package: anataus7
Architecture: i386
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: Linux i386 demo released at Assembly 2000
 Linux port of demo released at Assembly 2000
