Source: xppenutils
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 qtbase5-dev,
 qtbase5-dev-tools,
 libqt5x11extras5-dev,
 libusb-1.0-0-dev,
 mesa-common-dev,
 libxrandr-dev,
 libxinerama-dev,
 libxtst-dev
Standards-Version: 4.6.2
Homepage: https://www.xp-pen.fr/download/index
Rules-Requires-Root: no

Package: xppenutils
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 xppenutils-data,
 common-install-function-ddebs(>=1.18)
Description: XP-Pen Linux Driver utility
 XP-Pen configuration tool and driver for XP-Pen tablets
 It's an unOfficial package, that integrate better in your distribution
 Config save is "per user"

Package: xppenutils-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: Data files for XP-Pen Linux Driver utility
 XP-Pen configuration tool and driver for XP-Pen tablets
 arch independent data files
