Source: win32-recycled-by-byterapersanddoomsday
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=3287

Package: win32-recycled-by-byterapersanddoomsday
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.71),
 win32-bassdll16a,
 ${misc:Depends}
Description: Win32 Demo released in 2001
 demo ranked 3rd at Assembly 2001
 .
 -windows program launched using PlayOnLinux
