[Desktop Entry]
Version=1.0
Name=The World In A Bubble
GenericName=Demo
Comment=Demo by The Bad Sectors, released in 2011
Type=Application
Exec=/usr/bin/theworldinabubble-by-thebadsectors
Icon=theworldinabubble-by-thebadsectors
Categories=AudioVideo;Game;
Name[fr_FR]=The World In A Bubble
