Source: hatari-emutos
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://emutos.sourceforge.net/
Rules-Requires-Root: no

Package: hatari-emutos
Architecture: all
Depends:
 ${misc:Depends},
 hatari
Description:  Free operating system for Atari hardware
 Free operating system for computers based on Motorola 68000 or ColdFire
 microprocessors.
 .
 EmuTOS is mainly designed to run on traditional Atari hardware (ST, TT, 
 Falcon) and their emulators.
