[Desktop Entry]
Version=1.0
Name=Kuantum Akelerator 2
GenericName=Demo
Comment=Demo by Hno3, released in 2005
Type=Application
Exec=/usr/bin/kuantumakelerator2-by-hno3
Icon=kuantumakelerator2-by-hno3
Categories=AudioVideo;Game;
Name[fr_FR]=Kuantum Akelerator 2
