Source: stress-by-outbreakandchimeramusic
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 libglu-dev,
 libpng12-dev,
 libxrandr-dev,
 libx11-dev,
 libjpeg62-dev|libjpeg62-turbo-dev,
 libaudiere,
 libglew1.5
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=53577
Rules-Requires-Root: no

Package: stress-by-outbreakandchimeramusic
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 libaudiere,
 stress-by-outbreakandchimeramusic-data
Description: Demo for Linux, released in 2009
 Demo by Outbreak and Chimera Music, released in 2009

Package: stress-by-outbreakandchimeramusic-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for stress-by-outbreakandchimeramusic
 stress-by-outbreakandchimeramusic data files
