#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#this package don't work with flto

%:
	dh $@ --parallel

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/onedaymiracle-by-fit.6.md -o debian/onedaymiracle-by-fit.6
