#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+bindnow

%:
	dh $@ --parallel --sourcedirectory=build

override_dh_auto_configure:
	dh_auto_configure
	(cd debian; \
	 for i in *.in; do\
	 o=`basename $$i .in`;\
	 sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' "$$i" > "$$o"; \
	 done )

override_dh_install:
		dh_install
		(find debian/libhxcfe2.8 -type f -execdir rename 's/libhxcfe.so/libhxcfe.so.2.8.13.1/g' * {} \;)
