Source: amiga-kickstartaros
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends: 
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://www.aros.org/nightly1.php
Rules-Requires-Root: no

Package: amiga-kickstartaros
Architecture: all
Depends: ${misc:Depends}
Description: Aros Kickstart ROM for Amiga emulation
 Opensource alternative Kickstart ROM.
 m68k kickstart version for use in emulator, 
 found in : amiga-m68k-boot-iso:/boot/amiga/ 

