Source: 32kilobytesofforkle-by-romanshuvalov
Section: games
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 libglu-dev,
 libx11-dev,
 libopenal-dev
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=67197
Rules-Requires-Root: no

Package: 32kilobytesofforkle-by-romanshuvalov
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18)
Description: Game for Linux, released in 2016
 Game by Roman Shuvalov, released in 2016
