Source: stochasticlenssimulator-by-gzrrplox
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 gzip(>=1),
 mesa-common-dev,
 libsdl1.2-dev,
 pkg-config
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=56990

Package: stochasticlenssimulator-by-gzrrplox
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: 4k Intro for Linux, released in 2011
 4k Intro by Gzrrplox, released in 2011
