[Desktop Entry]
Version=1.0
Name=Purple
GenericName=Demo
Comment=Demo by Youth Uprising, released in 2007
Type=Application
Exec=/usr/bin/purple-by-youthuprising
Icon=purple-by-youthuprising
Categories=AudioVideo;
Name[fr_FR]=Purple
