[Desktop Entry]
Version=1.0
Name=Demoscene Activist
GenericName=Demo
Comment=demo ranked 6th at Breakpoint 2005
Type=Application
Exec=/usr/bin/demosceneactivist-by-nuance
Icon=demosceneactivist-by-nuance
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Demoscene Activist
