Source: flawed-by-adinpsz
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>=9),
 pandoc,
 pkgconf,
 libsdl1.2-dev,
 libglu1-mesa-dev,
 libfmodex-dev,
 libglew-dev
Standards-Version: 4.1.4
Homepage: https://www.pouet.net/prod.php?which=57026

Package: flawed-by-adinpsz
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 flawed-by-adinpsz-data,
 libfmodex4
Description: Demo for Linux, released in 2011
 Demo by adinpsz, released in 2011

Package: flawed-by-adinpsz-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: data file for Linux demo, released in 2011
 Demo by adinpsz, released in 2011
