Source: win32-omsemogo-by-bamboosh
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=1091

Package: win32-omsemogo-by-bamboosh
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Win32 Demo released in 2000
 demo ranked 2nd at The Gathering 2000
 .
 -windows program launched using PlayOnLinux
