#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/purple-by-youthuprising.6.md -o debian/purple-by-youthuprising.6

override_dh_strip:
	dh_strip -Xpurple.linux
