[Desktop Entry]
Version=1.0
Name=Pyrox
GenericName=Demo
Comment=Intro ranked 9th at The Party 1994
Type=Application
Exec=/usr/bin/pyrox-by-bizarrearts
Icon=pyrox-by-bizarrearts
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Pyrox
