Source: systemapoc-by-astral
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=2582

Package: systemapoc-by-astral
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Demo/20xx/Win32
 Demo ranked 12th at the Mekka and Symposium 2000
 .
 -windows program launched using PlayOnLinux
