Source: zerogravity2-by-scoopex
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 zip
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=3523

Package: zerogravity2-by-scoopex
Architecture: all
Depends:
 fs-uae(>=2.6),
 amiga-whdloadharddisk,
 common-install-function-ddebs(>=1.16),
 ${misc:Depends}
Description: Amiga Intro released in 1996
 Intro ranked 2nd at The Party 1996
 .
 -Amiga program launched using fs-uae
 -Kickstart *NOT* needed
