Source: win32-imagine-by-dizzlogic
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=956
Rules-Requires-Root: no

Package: win32-imagine-by-dizzlogic
Architecture: all
Depends:
 wine,
 common-install-function-ddebs(>=1.76),
 ${misc:Depends}
Description: Windows Demo released in 2000
 demo ranked #11 at Dreamhack 2000
 .
 -windows program launched using PlayOnLinux
