Source: lemuseum-by-jff
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.j-f-f.net/oldskool_intros.html
Rules-Requires-Root: no

Package: lemuseum-by-jff
Architecture: all
Depends: dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: DOS Intro released in 2001
 Intro released at Slach Party 2001
 .
 -MS-DOS program launched using Dosbox-x
