Source: jizz-by-theblacklotus
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.3
Homepage: https://www.pouet.net/prod.php?which=2

Package: jizz-by-theblacklotus
Architecture: all
Multi-Arch: foreign
Depends:
 ixalance:i386,
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.61),
Description: 64 KB intro by The Black Lotus (Wired'97)
 Jizz is a 64 KB intro created by The Black Lotus and entered in the intro
 competition at the Wired'97 demoparty in 1997.
 .
 The demo requires a 486DX processor and a 320x200 display in 15 or 16 bits
 per pixel. For optimal performance, an iP166 processor or faster is
 recommended, along with a GUS sound card with 1 MB of RAM and VBE 2.0
 support with linear framebuffer (LFB) access.
 .
 This package runs the demo using the ixalance DOS demo emulator.
