Source: shader-minifier
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 cli-common-dev,
 libmono-cil-dev,
 mono-devel,
 debhelper-compat (= 13) 
Standards-Version: 4.6.2
Homepage: https://github.com/laurentlb/Shader_Minifier
Vcs-Git: https://github.com/laurentlb/Shader_Minifier.git
Vcs-Browser: https://github.com/laurentlb/Shader_Minifier
Rules-Requires-Root: no

Package: shader-minifier
Architecture: all
Depends:
 ${cli:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Description: Minify and obfuscate GLSL or HLSL code
 Minify and obfuscate GLSL or HLSL code
