Source: onedaymiracle-by-fit
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 libsdl2-dev,
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=7196

Package: onedaymiracle-by-fit
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: intro ranked 14th at Assembly 2002
 intro 64k ranked 14th at Assembly 2002
