Source: hexpistols-by-fit
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 libsdl2-dev
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=17311

Package: hexpistols-by-fit
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Fit Demo/2005/Linux
 Demo by Fit, released in 2005
