Source: presidenttipelia-by-humppamachines-revengeoftheperse
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12)
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=4728

Package: presidenttipelia-by-humppamachines-revengeoftheperse
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: DOS Demo released in 2000
 demo ranked 9th at Elevator 2000
 .
 -MS-DOS program launched using Dosbox-x
