[Desktop Entry]
Version=1.0
Name=Cosmowav Music Disc Trailer
GenericName=Demo
Comment=Cosmowav Music Disc Trailer - Demo ranked 8th at the VIP 2000
Type=Application
Exec=/usr/bin/cosmowavmusicdisctrailer-by-orion
Icon=cosmowavmusicdisctrailer-by-orion
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Cosmowav Music Disc Trailer
