Source: win32-art-by-haujobb
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=125
Rules-Requires-Root: no

Package: win32-art-by-haujobb
Architecture: all
Depends:
 wine,
 common-install-function-ddebs(>=1.76),
 win32-bassdll08a,
 win32-ijldll112,
 ${misc:Depends}
Description: Windows Demo released in 2000
 demo ranked 2nd at Assembly 2000
 .
 -windows program launched using PlayOnLinux
