Source: muhammad-by-bbagf
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://example.com/no-uri-given
Rules-Requires-Root: no

Package: muhammad-by-bbagf
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: DOS Demo released in 1999
 demo ranked 2nd at Hype 1999
 .
 -MS-DOS program launched using Dosbox-x
