Source: globaltrash-by-silents-disk
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://janeway.exotica.org.uk/release.php?id=491

Package: globaltrash-by-silents-disk
Architecture: all
Depends:
 fs-uae(>=2.6),
 amiga-kickstartaros,
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Amiga demo released in 1991
 demo released 1991-04-26 on Amiga Summit Convention
 .
 -Amiga program launched using fs-uae
 -Kickstart *NOT* needed
