[Desktop Entry]
Version=1.0
Name=closer
GenericName=Demo
Comment=demo ranked 1st at The Party 1995
Type=Application
Exec=/usr/bin/closer-by-cncd
Icon=closer-by-cncd
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=closer
