Source: win32-purple-by-orion
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=271

Package: win32-purple-by-orion
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Win32 Demo released in 2000
 demo ranked 4th at the Lucky and Tigrou Party 2000
 .
 -windows program launched using PlayOnLinux
