#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifneq "$(DEB_HOST_MULTIARCH)" "m68k-linux-gnu" 
	export DEB_CFLAGS_MAINT_APPEND  = -flto
	export DEB_LDFLAGS_MAINT_APPEND  = -flto
endif

export CC = $(DEB_HOST_GNU_TYPE)-gcc

%:
	dh $@
