Source: morebobs-by-complex
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 zip
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=15670

Package: morebobs-by-complex
Architecture: all
Depends: fs-uae,
 amiga-kickstart31a1200,
 amiga-whdloadharddisk(>=1.10),
 common-install-function-ddebs(>=1.16),
 ${misc:Depends}
Description: Amiga intro released in 1989
 intro released in july 1989
 .
 -Amiga program launched using fs-uae
