Source: coveredinbees-by-candela
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev,
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=59318

Package: coveredinbees-by-candela
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 coveredinbees-by-candela-data,
 common-install-function-ddebs(>=1.18)
Description: Demo for Linux, released in 2012
 Demo by Candela, released in 2012

Package: coveredinbees-by-candela-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for coveredinbees-by-candela
 coveredinbees-by-candela data files
