#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = $(CPPFLAGS) -flto
export DEB_CXXFLAGS_MAINT_APPEND  = $(CPPFLAGS) -flto

%:
	dh $@ --buildsystem=cmake
	
override_dh_auto_install:
	find . -name "COPYING.txt" -delete
	dh_auto_install
