Source: ssri-by-traction
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 9.0),
 pandoc,
 mesa-common-dev,
 libglu1-mesa-dev,
 libsdl1.2-dev,
 pkgconf,
 libfmodex-dev
Standards-Version: 4.1.4
Homepage: https://www.pouet.net/prod.php?which=19434

Package: ssri-by-traction
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Intro for Linux, released in 2005 by Traction
 Intro by Traction, released in 2005
