Source: ssri-by-traction
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 mesa-common-dev,
 libglu1-mesa-dev,
 libsdl2-dev,
 pkg-config,
 libfmodex-dev
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=19434

Package: ssri-by-traction
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Intro for Linux, released in 2005 by Traction
 Intro by Traction, released in 2005
