Source: 4ksrc-pack1
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev,
 pkgconf,
 freeglut3-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=50507

Package: 4ksrc-pack1
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: pack of 4 4k intros released in 2003
 hogwagen jylam randomname dwitvs
