Source: grandcentral-by-outbreak
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libaudiere-dev,
 libx11-dev,
 libpng12-dev,
 libjpeg62-dev|libjpeg62-turbo-dev,
 libxrandr-dev,
 libglu1-mesa-dev,
 libglew1.5
Standards-Version: 4.6.0.1
Homepage: http://www.pouet.net/prod.php?which=50691

Package: grandcentral-by-outbreak
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 libglew1.5,
 libaudiere,
 grandcentral-by-outbreak-data
Description: Demo for Linux, released in 2008
 Demo by Outbreak, released in 2008

Package: grandcentral-by-outbreak-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for grandcentral-by-outbreak
 grandcentral-by-outbreak data files

