Source: stigma-by-emotive-win32
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.7.3
Homepage: https://www.pouet.net/prod.php?which=1474
Rules-Requires-Root: no

Package: stigma-by-emotive-win32
Architecture: all
Replaces: win32-stigma-by-emotive
Breaks: win32-stigma-by-emotive
Depends:
 wine,
 dxvk-win32,
 common-install-function-ddebs(>=1.76),
 bassdll08a-win32,
 ${misc:Depends}
Description: Win32 Demo released in 2001
 demo ranked 1st at Ambience 2001
 .
 -windows program launched using wine and dxvk
