[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=fr-03: monochromie ist nichts
GenericName=Demo
Comment=fr-03: monochromie ist nichts - Demo released at Mekka and Symposium 2000
Type=Application
Exec=/usr/bin/fr03monochromieistnichts-by-farbrausch
Icon=fr03monochromieistnichts-by-farbrausch
Categories=AudioVideo;Emulator;
Name[fr_FR]=fr-03: monochromie ist nichts
