Source: teh4k3000-by-theolddude
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 libgl-dev,
 libsdl1.2-compat-dev|libsdl1.2-dev
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=56988
Rules-Requires-Root: no

Package: teh4k3000-by-theolddude
Architecture: i386
Depends:
 libsdl1.2-compat,
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18)
Description: 4k intro for Linux, released in 2011
 4k intro by the old dude, released in 2011
 Pikkiriikkinen demo @ Instanssi 2011
