Source: just-by-legenddesign
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=1523

Package: just-by-legenddesign
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Demo : Just by legend design
 demo ranked 2nd at Wired 1995
 .
 -MS-DOS program launched using Dosbox-x
