[Desktop Entry]
Version=1.0
Name=96
GenericName=Demo
Comment=96 - Demo ranked 10th at Mekka and Symposium 2000
Type=Application
Exec=/usr/bin/win32-96-by-damage
Icon=win32-96-by-damage
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=96
