#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
CONFIGURE_EXTRA_FLAGS += --with-xinput=xfree \
						--with-native-locale \
						--disable-static \
						--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@  --with autotools_dev --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIGURE_EXTRA_FLAGS)

override_dh_installdirs:
	$(MAKE) install \
		prefix=$(CURDIR)/debian/libgtk1.2/usr \
		sysconfdir=$(CURDIR)/debian/libgtk1.2/etc \
		localstatedir=$(CURDIR)/debian/libgtk1.2/var \
		LD_LIBRARY_PATH=$(libpath):$(LD_LIBRARY_PATH)
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/bin
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/include
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/lib/$(DEB_HOST_MULTIARCH)/libgdk.so
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/lib/$(DEB_HOST_MULTIARCH)/libgtk.so
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/share/info
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/share/aclocal/
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/share/locale
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/share/man/
	-rm -rf $(CURDIR)/debian/libgtk1.2/usr/share/themes/Default/gtk/
	-rm -rf $(CURDIR)/debian/libgtk1.2/etc
	-find $(CURDIR)/debian/libgtk1.2 -type d -empty | xargs rmdir -p 2>&1 > /dev/null

override_dh_installchangelogs:
	dh_installchangelogs -a ChangeLog
