Source: inconsistency-by-hymy
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 nasm
Standards-Version: 4.6.2
Homepage: http://www.pouet.net/prod.php?which=61753
Rules-Requires-Root: no

Package: inconsistency-by-hymy
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsdl1.2debian
Description: 1k intro for Linux, released in 2013
 1k intro by Hymy, released in 2013
