Source: purple-by-youthuprising
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 libgl-dev,
 libglu-dev,
 libsdl2-dev,
 libopenmpt-dev,
 libx11-dev,
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=29742
Rules-Requires-Root: no

Package: purple-by-youthuprising
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Intro for Linux, released in 2007
 Youth Uprising presents to you an intro in 40k!
 (Sucks to partycode)
 This intro is called:
  - Purple -
 Released at Icons'07.
