[Desktop Entry]
Version=1.0
Name=droplet vs. ocean
GenericName=Demo
Comment=intro ranked 15th at Assembly 2001
Type=Application
Exec=/usr/bin/win32-dropletvsocean-by-sands
Icon=win32-dropletvsocean-by-sands
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=droplet vs. ocean
