Source: stercusaccidit-by-fit
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 libsdl2-dev,
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=26083

Package: stercusaccidit-by-fit
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Demo 2006 for Linux
 Demo by Fit, released in 2006
