Source: daclone-by-halcyon
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12)
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=2085

Package: daclone-by-halcyon
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: DOS Demo released in 1995
 demo released in june 1995
 .
 -MS-DOS program launched using Dosbox-x
