Source: bioterrorism-by-belowabsolutezero
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 nasm
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=61749
Rules-Requires-Root: no

Package: bioterrorism-by-belowabsolutezero
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsdl1.2-compat
Description: 1K intro for Linux, released in 2013
 1K intro by Below Absolute Zero, released in 2013
