Source: chapichapo-by-aegiscorp
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage:  http://www.pouet.net/prod.php?which=300

Package: chapichapo-by-aegiscorp
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Demo : Chapi Chapo by Aegis Corp.
 Demo ranked 3rd at the Saturn Party 1996
 .
 -MS-DOS program launched using Dosbox-x
