#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# dh_dwz on buster don't like when there is no .debug_info section
ifneq ($(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release),buster)
    RUN_DHDWZ=dh_dwz 
endif

%:
	dh $@

override_dh_auto_test:

override_dh_dwz:
	$(RUN_DHDWZ)
