Source: 8bitwonderland-by-kakiarts
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 libsdl1.2-dev,
 libpng12-0
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=31657

Package: 8bitwonderland-by-kakiarts
Architecture: i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 8bitwonderland-by-kakiarts-data,
 common-install-function-ddebs(>=1.18)
Description: Demo for Linux, released in 2007
 Demo by Kakiarts, released in 2007
 This version has been tested on systems with nVidia, ATI and even Intel
 graphics chips. Something at GeForce 6 or Radeon X level or above is
 recommended.

Package: 8bitwonderland-by-kakiarts-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for 8bitwonderland
 package data files

