#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	dh_auto_build
	sed -i "s/import ggpo_rc/#import ggpo_rc/g" ggpo/gui/ui/logindialog_ui.py
	chmod -x ggpo/gui/emoticonsdialog.py
	chmod -x ggpo/resources/qss/darkorange.qss
	chmod -x ggpo/gui/customemoticonsdialog.py
	chmod -x ggpo/scripts/applet
	chmod -x ggpo/resources/qss/fightcade.qss
	cp ggpo/resources/assets/icon-128.png debian/resources/fightcade.png

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/fightcade.6.md -o debian/fightcade.6
