#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PKG_CONFIG_PATH=/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/
export DEB_CFLAGS_MAINT_APPEND  = -flto
export DEB_LDFLAGS_MAINT_APPEND  = -flto

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	find debian -name 'wayang.ogg' -exec chmod 0644 {} +

override_dh_builddeb:
	dh_builddeb -- -Zxz
