[Desktop Entry]
Version=1.0
Name=Enlight the Surreal
GenericName=Demo
Comment=Enlight the Surreal - demo ranked 9th at Assembly 2000
Type=Application
Exec=/usr/bin/enlightthesurreal-by-noice
Icon=enlightthesurreal-by-noice
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Enlight the Surreal
