Source: euclid-by-mastensgbobbyspice
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 libgl1-mesa-dev,
 freeglut3-dev,
 libasound2-dev,
 libvorbis-dev,
 pkg-config
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=61281

Package: euclid-by-mastensgbobbyspice
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 euclid-by-mastensgbobbyspice-data
Description: Intro for Linux, released in 2013
 Intro by mastensg+Bobby Spice, released in 2013

Package: euclid-by-mastensgbobbyspice-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for euclid-by-mastensgbobbyspice
 euclid-by-mastensgbobbyspice data files

