Source: textperiment-by-pktteamgenshiken
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python:any | python-all:any | python-dev:any | python-all-dev:any,
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=66015
Vcs-Browser: https://github.com/Achifaifa/textperiment/
Vcs-Git: https://github.com/Achifaifa/textperiment.git

Package: textperiment-by-pktteamgenshiken
Architecture: all
Depends:
 ${python:Depends},
 beep,
 ${misc:Depends},
 common-install-function-ddebs(>=1.18)
Description: Intro for Linux, released in 2015
 Intro by PKTteam & Genshiken, released in 2015
 64k ASCII demo written in Python. Features a simple canvas-like engine and a
 16 colour palette.
 2nd place in the Euskal Encounter 23 Open Intro Compo
 .
 Code: Yuri Numerov (Achifaifa) -  achi <a> hush <.> ai
 Music: Stage7 - stage7 <a> stg7 <.> net
