Source: sevenance-by-joga
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=67438
Rules-Requires-Root: no

Package: sevenance-by-joga
Architecture: amd64
Depends:
 ${misc:Depends},
 libsdl2-2.0-0,
 common-install-function-ddebs(>=1.61)
Description: 4k intro by joga, released in 2016
 intro by joga, ranked 4th at Simulaatio 2016
