[Desktop Entry]
Version=1.0
Name=(we took the) greenpill
GenericName=Demo
Comment=demo ranked 14th at Assmebly 2001
Type=Application
Exec=/usr/bin/wetookthegreenpill-by-haujobb
Icon=wetookthegreenpill-by-haujobb
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=(we took the) greenpill
