#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -flto
export DEB_LDFLAGS_MAINT_APPEND  = -flto

%:
	dh $@ --sourcedirectory=btts/make

override_dh_auto_build:
	dh_auto_build -- linux

override_dh_fixperms:
	dh_fixperms
	find debian -name '8bit_tales.sunvox' -exec chmod 0644 {} +
