#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-pie
#this package don't work with flto


%:
	dh $@ --parallel

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/itsfullofstars-by-traction.6.md -o debian/itsfullofstars-by-traction.6
