#!/usr/bin/make -f

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export MAKEFLAGS += -j$($(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS))))
export QT_SELECT := qt5

%:
	dh $@ --parallel

override_dh_auto_configure-arch:
	dh_auto_configure -Sqmake -Dclient
	dh_auto_configure -Sqmake -Dserver

override_dh_auto_build-arch:
	dh_auto_build -Sqmake -Dclient
	dh_auto_build -Sqmake -Dserver

override_dh_auto_clean-arch:
	dh_auto_clean -Sqmake -Dclient
	dh_auto_clean -Sqmake -Dserver

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/dynablasterrevenge-client.6.md -o debian/dynablasterrevenge-client.6
	pandoc -s -t man -f markdown debian/dynablasterrevenge-server.6.md -o debian/dynablasterrevenge-server.6

override_dh_installchangelogs:
	dh_installchangelogs -a doc/changelog.txt
