#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	make bin/bin2h
	make bin/elfling
	make bin/prt
	make bin/packer

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/elfling.1.md -o debian/elfling.1
