Source: guillotine-by-dajormas
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 zip
Standards-Version: 4.6.2
Homepage: https://www.jormas.com/showproduction.php?name=Guillotine
Rules-Requires-Root: no

Package: guillotine-by-dajormas
Architecture: all
Depends:
 fs-uae(>=2.8),
 amiga-whdloadharddisk,
 amiga-kickstartaros,
 common-install-function-ddebs(>=1.66),
 ${misc:Depends}
Description: Amiga demo released in 1999
 Demo ranked 7th at Mekka and Symposium 1999
 .
 -Amiga program launched using fs-uae
 -Kickstart *NOT* needed
