Source: reicast
Section: games
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 libasound2-dev,
 libpng-dev,
 libegl1-mesa-dev,
 libevdev-dev,
 libgl-dev [!armhf],
 libgles2-mesa-dev [armhf],
 libpulse-dev,
 cmake,
 yasm
Standards-Version: 4.6.2
Homepage: https://github.com/reicast/reicast-emulator
Rules-Requires-Root: no

Package: reicast
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Suggests: reicast-joyconfig
Description: Dreamcast emulator
 Reicast is a Dreamcast emulator, created by the same team of nullDC.

Package: reicast-joyconfig
Architecture: any
Depends: 
	python, 
	python-evdev (>=0.4), 
	python-contextlib2 (>=0.5),
	reicast, 
	${misc:Depends}
Description: Dreamcast emulator - reicast-joyconfig script
 Reicast is a Dreamcast emulator, created by the same team of nullDC.
 .
 This package provides the reicast-joyconfig script
