Source: lovecreationmax-by-inf
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=1230

Package: lovecreationmax-by-inf
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.39),
 ${misc:Depends}
Description: Demo/20xx/Win32
 Demo ranked 1st at The Party 2000
 .
 -windows program launched using PlayOnLinux
