Source: win32-bassdll08a
Section: utils
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.un4seen.com/download.php?bass08

Package: win32-bassdll08a
Architecture: all
Depends:
 ${misc:Depends}
Description: Bass.dll v0.8 by Ian Luck, released in 2000
 Sound Library for win32 app, launched with Wine.
