#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

ifeq "$(DEB_HOST_MULTIARCH)" "x86_64-linux-gnu"
    export DEB_CXXFLAGS_MAINT_APPEND  = -march=core2
endif

%:
	dh $@ --parallel

override_dh_auto_test:

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/eduke32.6.md -o debian/eduke32.6
