Source: win32-moralhardcandy-by-blasphemy
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=11

Package: win32-moralhardcandy-by-blasphemy
Architecture: all
Depends:
 wine,
 playonlinux(>=4),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends}
Description: Win32 Demo released in 1999
 Demo released at summer encounter 1999
 .
 -windows program launched using PlayOnLinux
