#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export DEB_CXXFLAGS_MAINT_APPEND  = -flto
export DEB_LDFLAGS_MAINT_APPEND  = -flto

%:
	dh $@ --parallel

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/nordlicht2015invitation-by-wddkbc.6.md -o debian/nordlicht2015invitation-by-wddkbc.6
