Source: kebab-by-rebel
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 libsdl2-mixer-dev
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=52832
Rules-Requires-Root: no

Package: kebab-by-rebel
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Linux text intro by rebel
 Intro by rebel, released in 2006
