Source: origami-by-faemiyah
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 freeglut3-dev|libglut-dev,
 libsdl1.2-dev,
 libsdl-image1.2-dev,
 libgtk2.0-dev
Standards-Version: 4.6.0.1
Homepage: https://github.com/faemiyah/faemiyah-demoscene_2005-07_32k-intro_origami
Vcs-Browser: https://github.com/faemiyah/faemiyah-demoscene_2005-07_32k-intro_origami
Vcs-Git: https://github.com/faemiyah/faemiyah-demoscene_2005-07_32k-intro_origami.git

Package: origami-by-faemiyah
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Linux Demo released in 2005
 Demo by Faemiyah, released in 2005
