Source: dxproject-by-realtech
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=955
Rules-Requires-Root: no

Package: dxproject-by-realtech
Architecture: all
Depends:
 dosboxx (>=0.83),
 common-install-function-ddebs(>=1.72),
 ${misc:Depends}
Description: Demo : DX Project by realtech
 Demo ranked 3rd at Assembly 1995
 .
 -MS-DOS program launched using Dosbox-x
