[Desktop Entry]
Version=1.0
Name=Le grand curl
GenericName=Demo
Comment=Le grand curl - Demo ranked 10th at the Dreamhack 2000
Type=Application
Exec=/usr/bin/legrandcurl-by-neuroticaefs-win32
Icon=legrandcurl-by-neuroticaefs-win32
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Le grand curl
