#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake --sourcedirectory=SugarConvDsk --builddirectory=build

override_dh_install:
	dh_install
	mkdir -p "debian/sugarconvdsk/usr/bin/"
	cp "build/SugarConvDsk" "debian/sugarconvdsk/usr/bin/sugarconvdsk"
