Source: theworldinabubble-by-thebadsectors
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-dev,
 libglu1-mesa-dev,
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=57763

Package: theworldinabubble-by-thebadsectors
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 theworldinabubble-by-thebadsectors-data
Description: Demo for Linux, released in 2011
 Demo by The Bad Sectors, released in 2011

Package: theworldinabubble-by-thebadsectors-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for theworldinabubble-by-thebadsectors
 theworldinabubble-by-thebadsectors data files

