Source: electrify-by-outbreak
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12)
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=56349

Package: electrify-by-outbreak
Architecture: i386
Depends:
 electrify-by-outbreak-data,
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 libc6,
 libglew1.5,
 libglfw2,
 libaudiere,
 libpng12-0 (>= 1.2.13-4),
 libjpeg62-turbo|libjpeg62,
 libglu1-mesa|libglu1
Description: Demo for Linux, released in 2010
 Demo by Outbreak, released in 2010

Package: electrify-by-outbreak-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for electrify-by-outbreak
 electrify-by-outbreak data files
