#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:

override_dh_strip:

override_dh_install:
	dh_install
	pandoc -s -t man -f markdown debian/electrify-by-outbreak.6.md -o debian/electrify-by-outbreak.6

override_dh_fixperms:
	dh_fixperms
	find debian -name 'shader.frag' -exec chmod 0644 {} +
	find debian -name 'terrain.o3d' -exec chmod 0644 {} +
	find debian -name 'sphereish.o3d' -exec chmod 0644 {} +
	find debian -name 'shader.vert' -exec chmod 0644 {} +
	find debian -name 'shader.vert' -exec chmod 0644 {} +
	find debian -name 'shader.frag' -exec chmod 0644 {} +
	find debian -name 'objects.o3d' -exec chmod 0644 {} +

