Source: cold-by-adhocandkakmonsterklubben
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10),
 libsdl1.2-dev,
 libfreetype6-dev,
 libstdc++5,
 libpng12-0,
 libfmod-dev
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=27661

Package: cold-by-adhocandkakmonsterklubben
Architecture: i386
Depends:
 cold-by-adhocandkakmonsterklubben-data (= ${source:Version}),
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 fonts-911porscha,
 libfmod3
Description: Linux demo by adhoc and kakmonsterklubben
 Demo by adhoc and kakmonsterklubben, released in 2006

Package: cold-by-adhocandkakmonsterklubben-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for cold-by-adhocandkakmonsterklubben
 cold-by-adhocandkakmonsterklubben data files

