[Desktop Entry]
Version=1.0
Name=Eternal
GenericName=Demo
Comment=Eternal - Demo ranked 3rd at Abort 2000
Type=Application
Exec=/usr/bin/eternal-by-flyinpig
Icon=eternal-by-flyinpig
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Eternal
