Source: ghostsofmars-by-faemiyah
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libboost-thread-dev,
 libboost-wave-dev,
 libpng-dev,
 libsdl2-dev,
 libglew-dev
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=66046
Vcs-Browser: https://github.com/faemiyah/faemiyah-demoscene_2015-08_4k-intro_ghosts_of_mars
Vcs-Git: https://github.com/faemiyah/faemiyah-demoscene_2015-08_4k-intro_ghosts_of_mars.git
Rules-Requires-Root: no

Package: ghostsofmars-by-faemiyah
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: 4k intro for Linux, released in 2015
 4k intro by Faemiyah, released in 2015
 Ghosts of Mars
 .
 Synth & music:              Juippi
 Everything else:            Trilkk
 Additional everything else: Warma
