Source: lethaldose2-by-faculty-disk
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.0
Homepage: https://www.pouet.net/prod.php?which=12348

Package: lethaldose2-by-faculty-disk
Architecture: all
Depends:
 fs-uae(>=2.6),
 common-install-function-ddebs(>=1.71),
 ${misc:Depends},
 amiga-kickstartaros,
Description: Amiga demo released in 1994
 demo ranked 1st at The Hammering 1994
 .
 -Amiga program launched using fs-uae
 -Kickstart *NOT* needed
