[Desktop Entry]
Version=1.0
Name=mlein and sharky- wedtro
GenericName=Demo
Comment=Demo by Limp Ninja, released in 2007
Type=Application
Exec=/usr/bin/mleinandsharkywedtro-by-limpninja
Icon=mleinandsharkywedtro-by-limpninja
Categories=AudioVideo;Game;
Name[fr_FR]=mlein and sharky- wedtro
