[Desktop Entry]
Version=1.0
Name=glass
GenericName=Demo
Comment=intro ranked 1st at The Gathering 2000
Type=Application
Exec=/usr/bin/win32-glass-by-psikorp
Icon=win32-glass-by-psikorp
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=glass
