[Desktop Entry]
Version=1.0
Name=Gasoline 2
GenericName=Demo
Comment=Gasoline 2 - Demo
Type=Application
Exec=/usr/bin/gasoline2-by-recreation
Icon=gasoline2-by-recreation
Categories=AudioVideo;Emulator;Game;
Name[fr_FR]=Gasoline 2
