Source: win32-19595256-by-rgba
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=18252
Rules-Requires-Root: no

Package: win32-19595256-by-rgba
Architecture: all
Depends:
 wine,
 common-install-function-ddebs(>=1.76),
 ${misc:Depends}
Description: Win32 Intro released in 2005
 Demo by Rgba,released in 2005
 .
 -windows program launched using Wine
