Source: metachronie-by-mirage
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 13),
 libsdl1.2-dev,
 libsdl-gfx1.2-dev,
 libmodplug-dev
Standards-Version: 4.6.2
Homepage: https://www.pouet.net/prod.php?which=60971
Rules-Requires-Root: no

Package: metachronie-by-mirage
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 common-install-function-ddebs(>=1.18),
 libsdl-gfx1.2-5
Description: Intro for Linux, released in 2013
 Metachronie is a 8k intro released by Mirage in february 2013.
 ended 1st at Payback 2013
 .
 urs [Code]
 Topy44 [Music, Graphics]
