Source: summertime-by-resistance
Section: demos
Priority: optional
Maintainer: Nicolas HOUDELOT <nicolas@demosdebs.org>
Build-Depends:
 debhelper-compat (= 12),
 libsdl1.2-compat-dev,
 libsdl-mixer1.2-dev
Standards-Version: 4.6.0.1
Homepage: https://www.pouet.net/prod.php?which=55385

Package: summertime-by-resistance
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libsdl1.2-compat,
 common-install-function-ddebs(>=1.18),
 summertime-by-resistance-data
Description: Demo for Linux, released in 2010
 Demo by Resistance, released in 2010

Package: summertime-by-resistance-data
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Data files for summertime-by-resistance
 summertime-by-resistance data files

